extends ./layout.jade

block title
  title Successfull product creation

block content
  .container(style='margin-top:50px')
    .jumbotron(style='text-align:center')
      h2 Congratulaions!! Your product has been added to you cart.
      p.lead
        | Make your choice .
      p
        a.btn.btn-lg.btn-success(href='/listOfAllProducts', role='button') Continue Shopping
        &nbsp&nbsp
        a.btn.btn-lg.btn-success(href='/user/cartProduct', role='button') Checkout
