html
  head
    title  log in information
  body
    h1 Hi
    h2
      | your email is #{user.email}
      br
      | you are logged in
      br
      | click here to log out
      br
    a(href="/logOut") Log Out
    
