doctype html
html(lang='en')
  head
    title Bootstrap Example
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    include ./navbar.jade
    .container
      h2 Horizontal form
      form.form-horizontal(action='/productDelete/#{tempid}',method='post')
        .form-group
          label.control-label.col-sm-2(for='firstName') ProductId:
          .col-sm-10
            input#email.form-control(type='text', value='#{tempid}', name='productId')
        .form-group
          .col-sm-offset-2.col-sm-10
            button.btn.btn-default(type='submit') Click here to delete this product
