extends ./layout.jade

block title
  title Login Page

block content
  .container
    h2 Horizontal form
    form.form-horizontal(action='/updatePasswordInDatabase/#{email}',method='post')
      .form-group
        label.control-label.col-sm-2(for='email') New Password:
        .col-sm-10
          input#email.form-control(type='text', placeholder='Enter New Password', name='password')
      .form-group
        .col-sm-offset-2.col-sm-10
          .checkbox
            label
              input(type='checkbox', name='remember')
              |  Remember me
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-default(type='submit') Submit
