extends ./layout.jade

block title
  title Login Page

block content
  include ./navbar.jade
  .container
    h2 forgot password form
    form.form-horizontal(action='/send',method='post')
      .form-group
        label.control-label.col-sm-2(for='email') Email:
        .col-sm-10
          input#email.form-control(type='email', placeholder='Enter email', name='email')
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-default(type='submit') Submit
