extends ./layout.jade

block title
  title signUp Page

block content
  .container(style='margin-top:50px')
    .jumbotron(style='text-align:center')
      h1 Thankyou for Signing up Mr.#{firstName}
      p.lead
        | We welcome you with our open hearts.Go and checkout our amazing products!!
      p
        a.btn.btn-lg.btn-success(href='/listOfAllProducts', role='button') Our Products
