extends ./layout.jade

block title
  title Products In cart

block content
  include ./navbar.jade
  .container
    h2 Basic List Group
    ul.list-group

      each val in cartData
        li.list-group-item
          h4.list-group-item-heading #{val.productName}
          a(href='/user/cartProduct/#{val.productid}')
            button.btn.btn-primary.btn.pull-right.pull-top.btn-sm(type='button') Delete it
          p.list-group-item-text sold by lokendra
          p.list-group-item-text #{val.productPrice}

    h2 Total Cost of your cart #{cartCost}
